{% extends "emailtemplates/base.html" %}

{% block title %}Manage Emails{% endblock %}

{% block page_title %}Manage Emails for {{ related_object }}{% endblock %}

{% block extra_js %}
<script>
   function launch_modal(id) {
     // Hide all modals using class if required.
     $('.modal').modal('hide');
     $('#'+id).modal('show');
   }
   
</script>
{% endblock %}

{% block content %}

{% for tpl in object_list %}
<div class="modal fade" id="dialog-{{ tpl.id }}" tabindex="-1" role="dialog" aria-labelledby="dialog-{{ tpl.id }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="dialog-{{ tpl.id }}Label">Email Template: {{tpl.name}}</h4>
      </div>
      <div class="modal-body">
         <p><b>Subject Template:</b></p>
  		 <p>{{ tpl.subject_template }}</p>
         <p><b>Body Template:</b></p>s
         <p>{{ tpl.body_template|linebreaks }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for tpl in object_list %}
        <tr>
            <td><a href="#" id="link_{{ tpl.id }}" onclick="launch_modal('dialog-{{ tpl.id }}');">{{ tpl.name }}</a></td>
            <td>{{ tpl.description|truncatewords:10 }}</td>
            <td>
                {% include "emailtemplates/template_actions.html" %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}